* {
    box-sizing: border-box;
}
header, article, aside {
    position: fixed;
    padding: 20px;
}
header {
    width: 100vw;
    height: 20vh;
    top: 0;
    left: 0;
    background: grey;
}
nav ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
nav li {
    position: relative;
    display: block;
    float: left;
}
nav a {
    position: relative;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
}
nav a:hover,
nav a:focus {
    text-decoration: none;
    background-color: #888;
}
nav .active {
    background: #666;
}
.autoButton{
	width:100px;
	height:100px;
	border-weight:2px;
  border-style:solid;
}
.arrow-up {
    width: 0;
    height: 0;
    border: 25px solid transparent;
    border-bottom: 25px solid black;
    margin: 0 auto;
    display: block;
}
.arrow-down {
    width: 0;
    height: 0;
    border: 25px solid transparent;
    border-top: 25px solid red;
    margin: 0 auto;
    display: block;
}
.selectionDiv {
    display: block;
    position: relative;
}
.selectionToggleBox {
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.attackerState {
    height: 100px;
    width: 100px;
}
article {
    left: 0;
    bottom: 0;
    height: 80vh;
    width: 75vw;
    overflow: scroll;
    background: lightgrey;
}
aside {
    right: 0;
    bottom: 0;
    width: 25vw;
    height: 80vh;
    background: darkgrey;
}
.FieldSelector {
    display: inline-block;
    width: 12vw;
    height: 72vh;
}
.ObstacleSelector {
    display: inline-block;
    width: 11.5vw;
    height: 35vh;
}
.DefenseSelector {
    padding-top: 3vh;
}
.RobotSelector {
    display: inline-block;
    width: 11.5vw;
    height: 35vh;
}
