@font-face {
    font-family: 'DS Digital';
    src: local('DS-Digital'), url(digital.ttf) format('truetype');
    unicode-range: U+0030—003A;
}
* {
    box-sizing: border-box;
}
body {
    background: black;
    color: aqua;
    font-family: 'PT Mono', monospace;
}
header,
article,
aside,
#gameTimer,
#GyroBox {
    position: fixed;
    padding: 20px;
    border: solid 2px aqua;
}
#GyroBox {
    display: block;
    top: 20vh;
    left: 50vw;
    height: 80vh;
    width: 25vw;
}
#gyro,
#robowidget {
    margin-left: 2vw;
}
header {
    width: 50vw;
    height: 20vh;
    top: 0;
    left: 25vw;
    color: aqua;
}
.camera {
    position: fixed;
    top: 20vh;
    left: 0;
    width: 50vw;
    overflow: hidden;
    height: 80vh;
    background: url(img/static.gif);
    padding: 0;
}
.camera img {
    width: 50vw;
    height: 80vh;
}
nav ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
nav li {
    position: relative;
    display: block;
    float: left;
}
nav a {
    position: relative;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #eee;
}
nav a:hover,
nav a:focus {
    text-decoration: none;
    background-color: #888;
}
nav .active {
    background: #666;
}
article {
    left: 0;
    bottom: 0;
    height: 80vh;
    width: 75vw;
    overflow: scroll;
}
aside {
    right: 0;
    top: 0;
    width: 25vw;
    height: 100vh;
}
#gameTimer {
    font-family: 'DS-Digital', monospace;
    display: block;
    height: 20vh;
    width: 25vw;
    top: 0;
    left: 0;
    font-size: 18vh;
    line-height: .78;
    -webkit-user-select: none;
    user-select: none;
}
.autoButton {
    width: 150px;
    height: 150px;
    margin-left: 5vw;
    background-color: lightgrey;
    border: solid 2px black;
}
.arrow-up {
    width: 0;
    height: 0;
    border: 25px solid transparent;
    border-bottom: 25px solid black;
    margin: 0 auto;
    display: block;
}
.arrow-down {
    width: 0;
    height: 0;
    border: 25px solid transparent;
    border-top: 25px solid red;
    margin: 0 auto;
    display: block;
}
.selectionDiv {
    display: block;
    position: relative;
}
.selectionToggleBox {
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: lightgrey;
}
.attackerState {
    height: 100px;
    width: 100px;
}
.FieldSelector {
    display: inline-block;
    width: 12vw;
    height: 72vh;
}
.ObstacleSelector {
    display: inline-block;
    width: 11.5vw;
    height: 35vh;
}
.DefenseSelector {
    padding-top: 3vh;
}
.RobotSelector {
    display: inline-block;
    width: 11.5vw;
    height: 35vh;
}
#EncoderSlider {
    width: 22vw !important;
}
.encodertext {
    margin-left: 5vw;
}
#lowBarImg {
    display: inline-block;
    width: 11.5vw;
    height: 25vh;
}
.encoderLimitSwitchSpan {
    color: red;
}
.bool-slider {
    color: #FFF;
    font-size: 18px;
    font-weight: 800;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    height: 35px;
    width: 100px;
    border-radius: 25px;
}
.bool-slider.true .inset {
    background-color: #51a351;
}
.bool-slider.true .inset .control {
    float: left;
}
.bool-slider.true .inset .control:after {
    content: 'On';
    position: relative;
    right: -135%;
    top: 20%;
}
.bool-slider.false .inset {
    background-color: #da4f49;
    background-image: none;
}
.bool-slider.false .inset .control {
    float: right;
}
.bool-slider.false .inset .control:before {
    content: 'Off';
    position: relative;
    left: -100%;
    top: 20%;
}
.bool-slider .inset {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.bool-slider .inset .control {
    width: 40%;
    height: 100%;
    border-radius: 20px;
    background-color: #f5f5f5;
}
.bool-slider .inset .control:hover {
    cursor: pointer;
}
.bool-slider.disabled {
    color: #CCC;
}
.bool-slider.disabled .inset {
    background-color: #f5f5f5;
}
.bool-slider.disabled .control {
    cursor: default;
}
